/* 
////// For this challenge ///////

- You will have to modify the HTML

- You can add new classes in the HTML
  if you need to

// Requirements
1. The headings in the first row must be
   a different color
2. The two .col at the bottom must go next
   to one another
3. The section at the bottom should have
   a dark background color and a different
   color of text
4. I've removed the "gap" that I created,
   so you'll have to add it back in

   */

*,
*::before,
*::after {
  box-sizing: border-box;

  --bg-col: #23424a;
  --font-col: #ffffff;
  --btn-col: #38cfd9;
  --second-row-head: #87629a;
  --second-row-p: #3a3a3a;
  --third-row-bg: #136c72;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  /* display: flex => flex container */
  display: flex;
  gap: 2em;
}

.row-two-head {
  color: var(--second-row-head);
}

.row-two-p {
  color: var(--second-row-p);
}

.row-three-text {
  color: var(--font-col);
}

.col {
  /* these are now flex items */
  width: 100%;
  padding: 3em 0;
}

.col-text {
  text-align: center;
}

.hero {
  padding: 100px 0;
  background-color: var(--bg-col);
  color: #fff;
}

.hero__text {
  width: 60%;
}

.third-row {
  background-color: var(--third-row-bg);
}

.hero p {
  margin-bottom: 3em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #23424a;
  font-weight: 900;
  background-color: #38cfd9;
  padding: 0.75em 2em;
  border-radius: 100px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}
