/* oswald-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/oswald-v53-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/oswald-v53-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/oswald-v53-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/oswald-v53-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/montserrat-v26-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.section-box {
  padding: 2em 0;
  margin: 0 auto;
  width: 90%;
}

.header-box {
  display: flex;
  flex-direction: column;
}

.col-header {
  font-family: "Oswald";
  font-weight: bold;
  font-size: 1.875rem;
  text-align: center;
  margin-bottom: 0.6em;
}

.col-content {
  font-family: "Montserrat";
  font-size: 1rem;
  text-align: center;
  max-width: 35ch;
  margin: 0 auto;
}

.header {
  background-color: #2e323f;
  color: #fff;
}

.header-logo-div {
  display: flex;
  justify-content: center;
  margin-bottom: 1.6em;
}

.nav-list {
  font-family: "Oswald";
  font-weight: bold;
  font-size: 1.125;
}

.nav-list__primary,
.nav-list__secondary {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 0.6em;
}

.list-item {
  text-transform: uppercase;
  line-height: 2.5;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sign-up-btn {
  background-color: #a59678;
  padding: 0.01em 1em;
  border: 1px solid #a59678;
  border-radius: 5em;
}

.sign-up-btn:hover,
.sign-up-btn:focus {
  border: 1px solid #fff;
  cursor: pointer;
}

.hero-section {
  background-color: #3b4050;
}

.hero-title {
  color: #a59678;
  font-family: "Oswald";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.1;
}

.hero-title-white {
  color: #fff;
}

.hero-content {
  text-align: right;
}

.hero-para {
  margin: 2.5em 0 1.5em 0;
  color: #f1f1f1;
  font-family: "Montserrat";
  font-size: 1.2rem;
  margin-left: auto;
  max-width: 35ch;
}

.hero-btn {
  background-color: #a59678;
  color: white;
  font-family: "Oswald";
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0.1em 1em;
  border-radius: 5em;
  border: 1px #a59678 solid;
}

.hero-btn:focus,
.hero-btn:hover {
  border: 1px #fff solid;
  cursor: pointer;
}

.first-section {
  background-color: #f1f1f1;
}

.first-section-box {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.first-section__col-header {
  color: #a59678;
  margin-bottom: 0.3em;
}

.first-section__col-content {
  color: #6f737f;
  max-width: 90%;
  margin: 0 auto;
}

.second-section__primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  margin-bottom: 2em;
}

.second-section__primary-header {
  color: #a59678;
  font-family: "Oswald";
  font-weight: bold;
  text-align: center;
  font-size: 2.2rem;
  line-height: 1.2;
}

.second-section__primary-para {
  color: #6f737f;
  font-family: "Montserrat";
  font-size: 1.1rem;
  text-align: center;
}

.second-section__img {
  margin: 1em 0;
}

.second-section__sidebar {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.second-section-col {
  background-color: #3b4050;
  color: #fff;
  text-align: center;
  padding: 2em;
}

.footer {
  background-color: #3b4050;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 1.5em;
}

.footer-nav-content {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.footer-title {
  color: #fff;
  font-family: "Oswald";
  font-weight: bold;
  font-size: 1.5rem;
}

.col-header__footer {
  color: #a59678;
  font-size: 1.313rem;
}

.col-content__footer {
  color: #6f737f;
}

.nav-list__footer {
  color: #6f737f;
  text-align: center;
  font-size: 1rem;
}

@media (min-width: 700px) {
  .header-box {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .header-nav {
    width: 100%;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
  }

  .nav-list__primary,
  .nav-list__secondary {
    margin: 0;
  }

  .nav-list__primary {
    margin: 0 auto;
  }

  .header-logo-div {
    margin: 0;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .hero-btn-div {
    justify-self: center;
  }

  .first-section-box {
    flex-direction: row;
  }

  .first-section__col {
    width: 100%;
  }

  .second-section__sidebar {
    flex-direction: row;
  }

  .second-section-col {
    width: 100%;
  }

  .footer-nav-content {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .nav-list__footer {
    display: flex;
    flex-direction: column;
  }
}
