/* oswald-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/oswald-v53-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/oswald-v53-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/oswald-v53-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/oswald-v53-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/montserrat-v26-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.section-box {
  padding: 2em 0;
  margin: 0 auto;
  width: 90%;
}

.header {
  background-color: #2e323f;
  color: #fff;
}

.header-logo-div {
  display: flex;
  justify-content: center;
}

.nav-list {
  font-family: "Oswald";
  font-weight: bold;
  font-size: 1.125;
}

.nav-list__primary,
.nav-list__secondary {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.list-item {
  text-transform: uppercase;
  line-height: 2.5;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sign-up-btn {
  background-color: #a59678;
  padding: 0.01em 1em;
  border: 1px solid #a59678;
  border-radius: 5em;
}

.sign-up-btn:hover,
.sign-up-btn:focus {
  border: 1px solid #fff;
  cursor: pointer;
}

.hero-section {
  background-color: #3b4050;
}

.hero-title {
  color: #a59678;
  font-family: "Oswald";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.2;
}

.hero-title-white {
  color: #fff;
}

.hero-para {
  margin: 1em 0;
  color: #f1f1f1;
  font-family: "Montserrat";
  font-size: 1.2rem;
  max-width: 80%;
}

.hero-btn {
  background-color: #a59678;
  color: white;
  font-family: "Oswald";
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0.1em 1em;
  border-radius: 5em;
  border: 1px #a59678 solid;
}

.hero-btn:focus,
.hero-btn:hover {
  border: 1px #fff solid;
  cursor: pointer;
}

.first-section {
  background-color: #f1f1f1;
}

.second-section__primary {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
}

.second-section__primary-header {
  color: #a59678;
  font-family: "Oswald";
  font-weight: bold;
  font-size: 2.1rem;
  line-height: 1;
}

.second-section__primary-para {
  color: #6f737f;
  font-family: "Montserrat";
  font-size: 1.1rem;
}

.second-section__primary-img {
  max-width: 80%;
}

.second-section__sidebar {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.second-section-col {
  background-color: #3b4050;
  color: #fff;
  text-align: center;
  padding: 2em;
}

.col-header {
  font-family: "Oswald";
  font-weight: bold;
  font-size: 1.875rem;
  margin-bottom: 1rem;
}

.col-content {
  font-family: "Montserrat";
  font-size: 1rem;
}

.footer {
  background-color: #3b4050;
}
